; command for getting a coverage report:
;  PYTHONPATH=. py.test --cov lithoxyl --cov-report=html
; (run from project directory)

[run]
branch = True

[html]
directory = htmlcov

[report]
exclude_lines =
  pragma: no cover
  pass
  except ImportError
